body {
  background: #2f2f2f;
}
#title {
  color: white;
  width: 100%;
  text-align: center;
}
#title h1 {
  margin: 5px;
  font-family: 'Bellota';
  font-weight: bolder;
  font-style: italic;
  font-size: 60px;
  text-shadow: -9px 21px 64px rgba(0,0,0,0.4);
}
#title h2 {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 100;
  font-style: italic;
  font-size: 24px;
  text-shadow: -9px 21px 64px rgba(0,0,0,0.4);
}
#container {
  margin: 20px auto;
  width: min-content;
  text-align: center;
}
button {
  width: max-content;
  margin: 5px auto;
  padding: 10px;
  font-family: 'Bellota';
  font-weight: normal;
  color: white;
  font-size: 20px;
  background: none;
  border: 2px solid white;
  border-radius: 6px;
  transition: all 0.5s linear;
}
button:hover {
  font-size: 28px;
  background: linear-gradient(45deg,#B185A2, #4876FF);
  -webkit-box-shadow: -9px 21px 64px -13px rgba(0,0,0,0.6);
  -moz-box-shadow: -9px 21px 64px -13px rgba(0,0,0,0.6);
  box-shadow: -9px 21px 64px -13px rgba(0,0,0,0.6);
}
canvas {
  background: white;
  -webkit-box-shadow: -9px 21px 64px -13px rgba(0,0,0,0.4);
  -moz-box-shadow: -9px 21px 64px -13px rgba(0,0,0,0.4);
  box-shadow: -9px 21px 64px -13px rgba(0,0,0,0.4);
}
